@import url('https://fonts.googleapis.com/css?family=Open%20Sans:400,600,700&display=swap');

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: "Open Sans", sans-serif;;
}

body {
    font-size: 100%;
    background-color: #E4F0F6;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.container {
    margin: 0 auto 10px;
    padding: 20px;
    max-width: 900px;
    min-height: calc(100vh - 10px);
}

.logo {
    font-family: 'Gabriola', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 35px;
    width: 120px;
    height: auto;
    margin: 0 auto;
    user-select: none;
}

header {
    text-align: center;
}

header > p {
    line-height: 1.2rem;
    border-bottom: .5px solid #9c8787;
    padding-bottom: 20px;
}

main {
    margin-top: 20px;
}

.search-box {
    max-width: 600px;
    height: 40px;
    position: relative;
    font-size: 15px;
    margin: 0 auto;
}

input {
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
    border-radius: 10px;
    padding: 20px;
}

input:focus {
    border-inline: 2px solid #bbb;
}

.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 100%;
    background-color: #052637;
    color: #fff;
    border: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;

    transition: all 300ms ease-in-out;
}

.search-btn:hover,
.search-btn:active {
    background-color: #052637dc;
    color: #f5f7f8;
}

.grid {
    margin-top: 20px;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.grid-container .grid div {
    height: 350px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

/* Image Overlay Styling  */
.grid-container .grid div::before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 82.857142857143%;
    background-color: #00000020;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 900;
    /*bring back to original position using javascript and set tansition delay*/
    transform: translateY(-100%);
}

.grid-container .grid div img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/* Image Sibling box styling */
.grid div.img-siblingBox {
    position: absolute;
    bottom: 0;
    z-index: 2000;
    width: 100%;
    height: 17.142857142857%;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    background-color: #F4F4F4;
    transform: translateY(100%);
}

.grid div.img-siblingBox::before {
    display: none;
}

@media (max-width: 350px) {
    .search-btn {
        width: 70px;
        font-size: 14px;
        text-transform: lowercase;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .grid-container .grid div {
        /* max-width: 100%; */
        height: 400px;
    }
}

